[submodule "roles/ntp"]
	path = roles/ntp
	url = https://github.com/Ansibles/ntp.git
[submodule "roles/rabbitmq"]
	path = roles/rabbitmq
	url = https://github.com/Mayeu/ansible-playbook-rabbitmq.git
[submodule "roles/openstack-neutron_plugin_ml2"]
	path = roles/openstack-neutron_plugin_ml2
	url = https://github.com/dguerri/openstack-neutron_plugin_ml2.git
[submodule "roles/openstack-neutron_server"]
	path = roles/openstack-neutron_server
	url = https://github.com/dguerri/openstack-neutron_server.git
[submodule "roles/openstack-nova_api"]
	path = roles/openstack-nova_api
	url = https://github.com/dguerri/openstack-nova_api.git
[submodule "roles/openstack-nova_consoleauth"]
	path = roles/openstack-nova_consoleauth
	url = https://github.com/dguerri/openstack-nova_consoleauth.git
[submodule "roles/openstack-glance"]
	path = roles/openstack-glance
	url = https://github.com/dguerri/openstack-glance.git
[submodule "roles/openstack-horizon"]
	path = roles/openstack-horizon
	url = https://github.com/dguerri/openstack-horizon.git
[submodule "roles/openstack-keystone"]
	path = roles/openstack-keystone
	url = https://github.com/dguerri/openstack-keystone.git
[submodule "roles/openstack-nova_conductor"]
	path = roles/openstack-nova_conductor
	url = https://github.com/dguerri/openstack-nova_conductor.git
[submodule "roles/openstack-nova_scheduler"]
	path = roles/openstack-nova_scheduler
	url = https://github.com/dguerri/openstack-nova_scheduler.git
[submodule "roles/openstack-nova_novncproxy"]
	path = roles/openstack-nova_novncproxy
	url = https://github.com/dguerri/openstack-nova_novncproxy.git
[submodule "roles/openstack-neutron_plugin_openvswitch_agent"]
	path = roles/openstack-neutron_plugin_openvswitch_agent
	url = https://github.com/dguerri/openstack-neutron_plugin_openvswitch_agent.git
[submodule "roles/openstack-neutron_l3_agent"]
	path = roles/openstack-neutron_l3_agent
	url = https://github.com/dguerri/openstack-neutron_l3_agent.git
[submodule "roles/openstack-neutron_dhcp_agent"]
	path = roles/openstack-neutron_dhcp_agent
	url = https://github.com/dguerri/openstack-neutron_dhcp_agent.git
[submodule "roles/openstack-nova_compute"]
	path = roles/openstack-nova_compute
	url = https://github.com/dguerri/openstack-nova_compute.git
[submodule "roles/mysql"]
	path = roles/mysql
	url = https://github.com/ANXS/mysql.git
