DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"

CONTROLLER=$(cd "$DIR/.."; ansible -i .vagrant/provisioners/ansible/inventory/vagrant_ansible_inventory --private-key=~/.vagrant.d/insecure_private_key -u vagrant -m setup -a "filter=ansible_eth1" controller | grep address | head -1 | cut -d'"' -f4)

echo "Using controller '$CONTROLLER'"
echo "Using demo user"

export OS_TENANT_NAME=demo
export OS_USERNAME=demo
export OS_PASSWORD=oosahd6ohz8eixooNgae
export OS_AUTH_URL=http://$CONTROLLER:35357/v2.0
