DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"

CONTROLLER=$(cd "$DIR/.."; vagrant ssh-config controller | awk '/HostName/ {print $2}')

echo "Using controller '$CONTROLLER'"
echo "Using admin user"

export OS_TENANT_NAME=admin
export OS_USERNAME=admin
export OS_PASSWORD=dae9ai3ohboo8Phiesoh
export OS_AUTH_URL=http://$CONTROLLER:35357/v2.0
